table {
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}

thead {
	background-color: rgb(100,180,100);
}

tbody {
	background-color: rgb(240,240,240);
}

tbody tr:nth-child(even) {
	background-color: rgb(210,210,210);
}

.oikealle {
	text-align: right;
}

.poista {
	text-decoration: underline;
	cursor: pointer;
	color: red;
}

#linkki {
	color: black;
	text-decoration: none;
}

#linkki:hover {
	color: white;
}

#hakusana-text {
	text-align: right;
}

#hakunappi {
	float: left;
}

#ilmo {
	text-align: center;
}